/* common css style */
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    outline:none;
    text-decoration: none;
    list-style: none;
    border:none;
    font-family: 'Open Sans', sans-serif;
}
/* Nav-bar start */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:51px 226px;
}
.logo{
    color: #181818;
    font-size: 38px;
    font-weight: 800;
}
span{
    color:#FD6E0A;
}
.menu-bar ul{
    display: flex;
    align-items: center;
}
.menu-bar li a{
    margin-right:51px;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}
.btn{
    padding:15px 30px;
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    color:white;
}
/* Nav-bar end */